<a href="https://colab.research.google.com/github/winee165/Wine-Review-Dataset-/blob/main/Wine_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Charvy Gugalia
# Stige Wine Review Assignment

In [1]:
import numpy as np
import pandas as pd

## **1. Look at an overview of your data.**

In [10]:
df=pd.read_csv("/content/winemag-data-130k-v2.csv")
df.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [5]:
df.shape

(118561, 14)

In [8]:
df.isnull().sum()

Unnamed: 0                   0
country                     55
description                  0
designation              34131
points                       1
price                     8234
province                    56
region_1                 19409
region_2                 72585
taster_name              24017
taster_twitter_handle    28547
title                        1
variety                      2
winery                       1
dtype: int64

In [9]:
df.describe()

         Unnamed: 0         points          price
count  118561.00000  118560.000000  110327.000000
mean    59280.00000      88.433494      35.262121
std     34225.75697       3.030634      41.066641
min         0.00000      80.000000       4.000000
25%     29640.00000      86.000000      17.000000
50%     59280.00000      88.000000      25.000000
75%     88920.00000      91.000000      42.000000
max    118560.00000     100.000000    3300.000000

## **2.Select the `description` column from `reviews` and assign the result to the variable `desc`.**

In [11]:
desc=df['description']

## **3. Select the first value from the description column of `reviews`, assigning it to variable `first_description`.**

In [13]:
first_description=df['description'][0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

## **4. Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.**

In [19]:
first_row=df.iloc[0]
print(first_row)

Unnamed: 0                                                               0
country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

## **5. Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.**

In [21]:
first_descriptions=df['description'][:10]
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

## **6. Select the records with index labels `1`, `2`, `3`, `5`, and `8`, assigning the result to the variable `sample_reviews`.**

In [28]:
sample_reviews=df.iloc[[1,2,3,5,8]]
sample_reviews

   Unnamed: 0   country  ...             variety               winery
1           1  Portugal  ...      Portuguese Red  Quinta dos Avidagos
2           2        US  ...          Pinot Gris            Rainstorm
3           3        US  ...            Riesling           St. Julian
5           5     Spain  ...  Tempranillo-Merlot               Tandem
8           8   Germany  ...      Gewürztraminer          Heinz Eifel

[5 rows x 14 columns]

## **7. Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`. In other words, generate the following DataFrame:**

In [33]:
dff=df.loc[[0,1,10,100],["country","province", "region_1", "region_2"]]
dff

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

# **8. Create a variable `df` containing the `country` and `variety` columns of the first 100 records.**

In [36]:
dfff=df.loc[0:99,["country","variety"]]
dfff

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
2         US                Pinot Gris
3         US                  Riesling
4         US                Pinot Noir
..       ...                       ...
95    France                     Gamay
96    France                     Gamay
97        US                  Riesling
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

## **9.  Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`.**

In [37]:
italian_wines=df[df["country"]=="Italy"]
italian_wines

        Unnamed: 0 country  ...            variety                           winery
0                0   Italy  ...        White Blend                          Nicosia
6                6   Italy  ...           Frappato                  Terre di Giurfo
13              13   Italy  ...  Nerello Mascalese              Masseria Setteporte
22              22   Italy  ...        White Blend               Baglio di Pianetto
24              24   Italy  ...       Nero d'Avola                        Canicattì
...            ...     ...  ...                ...                              ...
129929      129929   Italy  ...           Prosecco             Col Vetoraz Spumanti
129943      129943   Italy  ...          Red Blend  Baglio del Cristo di Campobello
129947      129947   Italy  ...          Red Blend         Feudo Principi di Butera
129961      129961   Italy  ...           Frappato                              COS
129962      129962   Italy  ...       Nero d'Avola                         Cusumano

[19540 rows x 14 columns]